<footer class="bg-black w-full shadow-sm flex flex-row">
  <div class="w-full mx-auto-xl p-4 md:flex md:items-center md:justify-between ">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
       <a
      routerLink="/home"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
     <img src="/imges/Logos/freshcart-logo-Dark.svg" alt="Fresh cart" class="mr-2">&copy; {{date}} All Rights Reserved.
    </a>

    <p class="w-90 text-left font-bold p-5">Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing elit,Lorem ipsum dolor sit amet.</p>
    </span>

  </div>
 
  <div class="w-full mx-auto-xl p-4 md:flex md:items-center md:justify-between ">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
     <h1 class="text-lg font-bold text-white">Subscribe</h1>
     <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
     <input type="email"placeholder="Emai" class="bg-gray-400 p-2 rounded-lg mt-3 w-60">
    </span>

  </div>
</footer>
